---
layout: base
---

<div id="projects">
{% for project in collections.projects.reverse() %}
    <div class="project-box">
        <a href="{{ project.url }}">
    <div class="project-title">
        {{project.data.title}} ({{project.date.getFullYear()}})
    </div>
    {% image project, "images/"+project.data.coverImage, "", "(min-width:30em) 50vw, 100vw" %}
    </a>
    </div>
{% endfor %}
</div>