//Project flexbox
#projects{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.project-box {
    cursor: pointer;
    background-color: $highlight-bg;
    height: 12rem;
    margin:1em;
    padding:0px;
    position:relative;

    a {
        display:block;
        height:15rem;
    }

    img {
        border: 2px solid $highlight-bg;
        width: 20rem;
        object-fit: cover;
        object-position: 25% 50%;
        height: 12rem;
    }
    .project-title {
        position:absolute;
        right:-0.5em;
        bottom:0.8em;
        padding:0.25em;
        min-width: 50%;
        font-family: sans-serif;
        font-weight: normal;
        text-transform: uppercase;
        font-size: 1.1em;
        color:$highlight-text;
        background-color: $highlight-bg;
        box-shadow: 0em 0.2em 0.4em $highlight-fg;
    }
    .project-title::before {
        content:"";
        position:absolute;
        right:100%;
        top:0;
        width: 0;
        border-left: 1rem solid transparent;
        border-top: 2.1rem solid $highlight-bg;
    }
}

@media screen and (min-width:$mobile-width) { //Desktop
   
}